OPENAI_API_KEY="<your key here>"
AZURE_OPENAI_API_KEY="<your key here>"
AZURE_OPENAI_ENDPOINT="https://coderbot.openai.azure.com"
HELICONE_API_KEY="<your key here>"
MLFLOW_API_KEY="<your key here>"
ACTIVE_JOB_REDIS_URL="redis://localhost:6911/0"
